@font-face {
  font-family: "iconfont"; /* Project id 1197507 */
  src: url('iconfont.eot?t=1622885454686'); /* IE9 */
  src: url('iconfont.eot?t=1622885454686#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1622885454686') format('woff2'),
       url('iconfont.woff?t=1622885454686') format('woff'),
       url('iconfont.ttf?t=1622885454686') format('truetype'),
       url('iconfont.svg?t=1622885454686#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconundo:before {
  content: "\e787";
}

.iconredo:before {
  content: "\e788";
}

.icondir:before {
  content: "\e623";
}

.iconfile:before {
  content: "\e636";
}

.iconsaomiaoyi:before {
  content: "\e61a";
}

.iconeye:before {
  content: "\e78f";
}

.iconupload:before {
  content: "\e7ef";
}

.icondownload:before {
  content: "\e7f0";
}

.iconclouddownload:before {
  content: "\e81b";
}

.iconcloudupload:before {
  content: "\e81c";
}

.iconfujian:before {
  content: "\e607";
}

.iconwarning:before {
  content: "\e63a";
}

.iconinfo:before {
  content: "\e65f";
}

.iconwarning2:before {
  content: "\e603";
}

.iconconfirm:before {
  content: "\e605";
}

.iconwarning3:before {
  content: "\e622";
}

.iconinquiry:before {
  content: "\e609";
}

.iconbatchsubmit:before {
  content: "\e602";
}

.iconworkflow_design:before {
  content: "\e619";
}

.iconwflwlogview:before {
  content: "\e641";
}

.iconworkflow_setting:before {
  content: "\e642";
}

.iconwflwsubmit:before {
  content: "\e61c";
}

.iconworkflow_create:before {
  content: "\e621";
}

.iconwflwreturn:before {
  content: "\e601";
}

.iconworkflow_notice:before {
  content: "\e6fd";
}

.iconworkflow_help:before {
  content: "\e6fe";
}

.iconwflwreject:before {
  content: "\e610";
}

.iconwflwretract:before {
  content: "\e750";
}

.iconwflwtransmit:before {
  content: "\e614";
}

.iconlist:before {
  content: "\e653";
}

.iconcustom-help:before {
  content: "\e611";
}

.iconmenuoff:before {
  content: "\e84f";
}

.iconmenuon:before {
  content: "\f61a";
}

.iconpoweroff1:before {
  content: "\e644";
}

.iconlock:before {
  content: "\e613";
}

.iconsecurity:before {
  content: "\e667";
}

.iconadd:before {
  content: "\e654";
}

.icondel:before {
  content: "\e600";
}

.iconexport1:before {
  content: "\e6c7";
}

.iconimport1:before {
  content: "\e6c9";
}

.iconexport:before {
  content: "\e722";
}

.iconfile-export:before {
  content: "\e72e";
}

.iconfile-import:before {
  content: "\e730";
}

.iconimport:before {
  content: "\e7b4";
}

.iconreturn:before {
  content: "\e731";
}

.iconscan:before {
  content: "\e66e";
}

.iconuser:before {
  content: "\e65d";
}

.iconicons_password:before {
  content: "\e629";
}

.iconsave:before {
  content: "\e748";
}

.iconset:before {
  content: "\e664";
}

.iconprint:before {
  content: "\e84e";
}

.iconuser_role:before {
  content: "\e735";
}

.iconreset_password:before {
  content: "\e718";
}

.iconform_search:before {
  content: "\e617";
}

.iconmenu:before {
  content: "\e7f4";
}

.iconarrowdown:before {
  content: "\e60e";
}

